option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "recommendation_sys.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "recommendation_sys.wsgi:application"

container_commands:
  01_migrate:
    command: "source $PYTHONHOME/activate && cd /var/app/staging && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source $PYTHONHOME/activate && cd /var/app/staging && python manage.py collectstatic --noinput"
    leader_only: true
  03_createsu:
    command: "source $PYTHONHOME/activate && cd /var/app/staging && python manage.py createsu"
    leader_only: true
    ignoreErrors: true
